/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav .brand-logo {
  font-size: 1.6rem;
}
.logo-icon {
  width: 154px;
  height: 152px;
}

[class*="unicorn-icon-"] {
  fill: transparent;
  stroke: #FFFFFF;
  stroke-width: 4px;
  stroke-miterlimit:10
}

.flying-block {
  position: fixed;
  right: 0;
  top:0;
  padding: 1rem 1rem;
  line-height: 2rem;
  z-index: 20;
}

.mega-strong {
  font-weight: 600;
}

p {
  line-height: 2rem;
}

.section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.section-team {
  background: #eeeeee;
}


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.send-form {
  margin-right: auto;
  margin-left: auto;
  padding: 0 0.75rem;
  max-width: 600px;
}

.team-avatar {
  margin: 20px auto 0;
  max-width: 240px;
}
.team-avatar img {
  max-width: 100%;
}

.section.no-mar-bot {
  margin-: 0;
  padding: 0;
}

footer.page-footer {
  margin: 4rem 0 0 0;
  padding-top: 0;
}
footer.page-footer .footer-copyright {
  height: auto;
  overflow: visible;
}
.page-footer .row {
  margin-bottom: 0;
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .parallax-container {
    padding-bottom: 4rem;
    min-height: 0;
  }
}

@media only screen and (min-width: 992px) {
  html {
   font-size: 18px;
  }

  footer {
    font-size: 14px;
  }

  .row .col {
    padding: 0 2rem;
  }
  .github-project {
    min-height: 160px;
  }

}
